/*배경 색상 설정 및 전체적인 box-sizing 설정*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; /* 하위 엘리먼트들이 영향을 안받게 해줌*/
  background: #f1f1f5;
}

*, *:before, *:after {
  box-sizing: inherit;
}